@import "style.css";


#logotitle{
    width:20%; 
    text-align: right;
}


.logo{
    height: 20%;
}

#gameboard{
    background-color: #000;
    display: flex;
    flex-flow: row wrap;
    width:40%;
}

.dot{
    width: 100%;
}

#homebutton{
    width: 5%;
}