@import "style.css";

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#logotitle{
    width:20%; 
    /*margin-left:35%; 
    margin-right:35%;*/
    text-align: right;
}

#gameboard{
    background-color: #000;
}

#homebutton{
    width: 5%;
}