@import "style.css";

.logo{
    height: 20%;
}

#logotitle{
    width:30%; 
    margin-left:35%; 
    margin-right:35%;
    text-align: center;
}

h2::before,h2::after{
    content: "\1F525";
}

#rules{
    background-color: #FFF200;
    border-style: double;
    border-width: 5px;
    border-color: #000;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
}


#stats{
    position: absolute;
    top: 40%;
}

#rules{
    float: left;
}

#button{
    position: relative;
    float: right;
    width:15%;
    height: 15%;
    right: 30%;
}

.playButton{
    content:url("../images/play.png");
}

.playButton:hover{
    content:url("../images/playHover.png");

}