<!DOCTYPE html>
<html>
<head>
    <title>Connect four</title>
    <link rel="stylesheet" href="public/stylesheets/splash.css"/>
</head>
<body>
<main >
    <img id="tulogo" src="public/images/gay.png"/>
    <img id="tulogo2" src="public/images/gay.png"/>
    <table id="logotitle">
        <tr>
            <th>
                <img class="logo" src="public/images/logo1.png" alt="logo">
            </th>
            <th>
                <h1 id = "title">
                    CONNECT FOUR
                </h1>
            </th>
            <th>
                <img class="logo" src="public/images/logo.png" alt="logo">
            </th>
        </tr>
    </table>
    <div>welcome back for the <span id="cookie"></span>th time</div>
    <section id="rules">
        <!--img src ="connectfour/public/images/rules_background.gif" alt="rules"-->
        <h2> RULES </h2>
        <p>To win Connect Four you must be the first player to get four of your colored checkers in a row either horizontally, vertically or diagonally.</p>
    </section>
      <h3 id="stats">
        <%= gamesInitialised %> 
        <%if (gamesInitialised != 1) { %>
            games
        <% } else { %>
            game
        <% } %> initialized, 
        <%= gamesAborted %> aborted,
        <%= playersOnline %> players online.
      </h3>
</main>
<form action="/play" method="get">
    <a id="button" href = "/play">
        <img src = "public/images/play.png" class="playButton" alt="play">
    </a>
</form>

<script src="jquery/jquery.js"></script>
<script src="public/scripts/userInfo.js"></script>
</body>
</html>